# Node (React Native + Expo)
**/node_modules/
**/package-lock.json
**/yarn.lock
**/.expo/
**/.expo-shared/
**/.vscode/
**/dist/
**/build/
*.log

# React Native
**/ios/Pods/
**/android/.gradle/
**/android/app/build/
**/android/.idea/

# Expo
**/.expo/
**/web-build/

# TypeScript
**/*.tsbuildinfo

# Environment files
**/.env
**/.env.*

# Python
**/__pycache__/
**/*.py[cod]
**/*.sqlite3
**/*.db
**/instance/
**/venv/
**/env/
**/.pytest_cache/
**/.mypy_cache/

# Django specific
**/db.sqlite3
**/staticfiles/
**/media/
**/local_settings.py

# Flask specific
**/.flaskenv

# IDEs
.idea/
.vscode/
*.swp

# OS-specific
.DS_Store
Thumbs.db
