@font-face {
  font-family: "Brittany";
  src: url("/src/assets/fonts/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "London";
  src: url("/src/assets/fonts/LondonMM.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  height: 100dvh;
  width: 100dvw;
  box-sizing: border-box;
  background: var(--bg-color);
  transition: background-color 0.3s ease; /* Add this line */
}

:root {
  font-family: "London", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #fff0f6;
  --card-bg: #ffd1e2;
  --badge-bg: #ffb6c1;
  --text-color: #800080;
  --subtext-color: #555;
  --badge-text: #800040;
  --button-bg: #da70d6;
  --button-hover-bg: #c060d6;
  --navbar-bg: white;
  --navbar-text: #666;
  --navbar-active: #4f46e5;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --border-color: #ccc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --bg-color: #1a1a2e;
  --card-bg: #303045;
  --badge-bg: #564f8a;
  --text-color: #e2b4ff;
  --subtext-color: #aaa;
  --badge-text: #f0d0ff;
  --button-bg: #7b2cbf;
  --button-hover-bg: #9d4edd;
  --navbar-bg: #1a1a2e;
  --navbar-text: #aaa;
  --navbar-active: #bb86fc;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --border-color: #444;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Add this line */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  background-color: var(--button-hover-bg);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
