@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

@font-face {
  font-family: "Brittany";
  src: url("/src/assets/fonts/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "London";
  src: url("/src/assets/fonts/LondonMM.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  height: 100dvh;
  width: 100dvw;
  box-sizing: border-box;
  background: var(--bg-color);
  transition: background-color 0.3s ease;
}

:root {
  font-family: "Patrick Hand", cursive;
  line-height: 1.5;
  font-weight: 400;
  --bg-color: #ffebe5;
  --card-bg: #ffffff;
  --badge-bg: #fff2d9;
  --text-color: #8d6e63;
  --subtext-color: #a1887f;
  --badge-text: #8d6e63;
  --button-bg: #f5a8a8;
  --button-hover-bg: #f8bbd0;
  --navbar-bg: white;
  --navbar-text: #a1887f;
  --navbar-active: #f5a8a8;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: #e0e0e0;
  --health-color: #f5a8a8;
  --supplement-color: #ffe082;
  --household-color: #a5d6a7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --bg-color: #433c4c;
  --card-bg: #534d5c;
  --badge-bg: #665e70;
  --text-color: #ffdcd2;
  --subtext-color: #d7ccc8;
  --badge-text: #ffffff;
  --button-bg: #f8bbd0;
  --button-hover-bg: #f48fb1;
  --navbar-bg: #3e3748;
  --navbar-text: #d7ccc8;
  --navbar-active: #f8bbd0;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --border-color: #5d5464;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  background-color: var(--button-hover-bg);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
