.welcome-container {
  background: #fff0f6;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5dvw;
  box-sizing: border-box;
  overflow: hidden;
}

.welcome-title {
  font-family: "Brittany", cursive;
  color: #981f4c;
  text-align: center;
  font-size: 20dvw;
  font-weight: bold;
}

.welcome-buttons {
  display: flex;
  gap: 4dvw;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome-buttons button {
  background: #981f4c;
  color: white;
  font-family: "London", sans-serif;
  font-size: 4dvw;
  font-weight: bold;
  padding: 1.5dvh 4dvw;
  border: none;
  border-radius: 9999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.2s ease, transform 0.1s ease;
}

.welcome-buttons button:hover {
  background: rgb(219, 130, 174);
  transform: translateY(-1px);
}

.welcome-logo {
  width: 275px;
  height: auto;
  margin: 2dvh 0 3dvh;
}
